{% extends "template.html.twig" %}

{% block title %}Personne{% endblock %}

{% block pageTitle %}Teste de première injection avec doctrine {% endblock %}
 
{% block body %}
<div class="alert alert-success">
    {{  personne.firstname }}
    {{  personne.name }}
    {{  personne.age }}
    {% if app.user %}
        <p>
            Created by: {{app.user.email}}
        </p>
    {% endif %}
    

</div>

{% endblock %}